@import "./rule.scss";

.preview-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 122%;
    letter-spacing: 1px;
    background: $btn-color;
    border: none;
    padding: 24px 43px;
    border-radius: 10px;
    width: 200px;
}
.preview-btn:hover{
    background: $grey-color;
    
}