@media screen and (max-width:1250px){
    .container{
        max-width: 1000px;
    }
    h1{
        font-size: 140px;
    }
    .workout-title{
    font-size: 100px;
    }
    .preview-img {
        left: -136px;
        width: 559px;
        top: -43px;
    }
    .paragraph p {
        font-size: 18px;
        max-width: 318px
    }
    .preview-btn {
        padding: 20px 30px;
        width: 170px;
    }
    .trainer_wrap {
            display: grid;
            grid-template-rows: repeat(17, 42px);
            grid-template-columns: repeat(10, 70px);
    }
    .trainer__square {
        grid-column-start: 8;
        grid-column-end: 14;
        grid-row-start: 1;
        grid-row-end: 3;
        margin-top: -31px;
    }
    .trainer__top {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 7;
        grid-row-end: 6;
    }
    .trainer__bottom {
        grid-column-start: 8;
        grid-column-end: 5;
        grid-row-start: 11;
        grid-row-end: 13;
    }
    .gray{
        // max-width: 1105px;
        right: 17%;
        height: 725px;
    }
}